.header {
    display: flex;
    height: 70px;
    align-items: center;
    z-index: 100;
    inset: 0px 0px auto;
    position: sticky;
    /*background: black;*/
    background: linear-gradient(100deg, #14192e, #192445, #1c1e3a, #1e1d32);
    -webkit-box-pack: center;
    justify-content: center;
    height: 70px;
}

.main-wrap {
    flex: 70%;
    margin-left: 50px;
    margin-top: 20px;
}

.nav li label {
    font-size: 18px;
    color: grey;
    font-weight: bold;
    cursor: pointer ;
}

.connect-wallet {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    color: grey;
    font-weight: bold;
    cursor: pointer;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    list-style: none;
    margin: 0 10px;
}

.dropdown-menu li{
    margin-bottom: 4px;
}

.dropdown .dropdown-menu {
    border-top: none;
    border-bottom: 4px solid #000;
    color: hsla(0, 0%, 100%, .702);
    font-size: 14px;

    padding: 30px 15px 24px;
    transition: border-color .15s ease-in-out;
    width: 200px;
    height: 150px;
    background-color: #14192e;

}
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    display: block;
    padding: 4px 8px;
    text-decoration: none;
    color: white;
}

.dropdown-menu a:hover {
    background-color: grey;
    border-radius: 8px;
}

.profile-info {
    margin-right: 100px;
    position: relative;
}

.profile-info:hover .tooltip-content {
    display: block;
}

.tooltip-content {
    position: absolute;
    top: 32px;
    left: -175px;
    width: 300px;
    height: 500px;
    background-color: #14192e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: none;
    overflow-y: auto;
    color: white;
}

.tooltip-container {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    flex-direction: column;
}

.address-section img {
    width: 50px;
    height: 50px;
    margin-right: 7px;
}

.eth-style {
    display: flex;
    flex-direction: column;
    margin-left: 6px;
}

.eth {
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 4px;
}

.eth-address {
    display: flex;
    align-items: center;
        font-weight: bold;
        font-size: 16px;
}

.balance-section {
    display: flex;
    align-items: center;
}

.address-section {
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.balance-section p {
    font-size: 16px;
    margin-left: 6px;
    cursor: crosshair;
}

.info-section {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.module {




    display: flex;

    align-items: start;
    cursor: pointer;

}

.module p {
    font-size: 16px;
    margin-left: 18px;
}

.module svg {
    vertical-align: middle;
    margin-left: 18px;
    margin-top: 0px;
}
.create-menu {
    margin-top: 25px;
    font-size: 16px;


}
.create-menu li a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}
