body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    /*background-color: #14192e;*/
    background-color: black;
    color: #fff;
}
.nav-links li {
    font-size: 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links label {
    font-size: 20px;
    font-weight: bold;
    color: grey;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}

.user-info {
    margin-right: 10px;
}

.username {
    margin-right: 5px;
}

.connect-wallet-button {
    padding: 8px 16px;
    background-color: #fff;
    color: #111;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 150px;
}

.connect-wallet {
    margin-left: 5px;
}

.dropdown {
    position: relative;
}
.dropdown .dropdown-menu {
    border-top: none;
    border-bottom: 4px solid #000;
    color: hsla(0, 0%, 100%, .702);
    font-size: .875rem;
    font-weight: 500;
    margin: auto;
    padding: 30px 15px 24px;
    transition: border-color .15s ease-in-out;
    width: 200px;
    height: 150px;
    background-color:white;

}
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu a {
    display: block;
    padding: 4px 8px;
    text-decoration: none;
    color: #333;
}

.dropdown-menu a:hover {
    background-color: #f2f2f2;
}

.connect-wallet-button {
    font-size: 20px;
    font-weight: bold;
}

.metamaks-button {
    width: 30px;
    height: 30px;
}

.dropdown-menu li{
    font-size: 18px;
}

.user-container {
    display: flex;
    align-items: center;
    height: 50px;
    width: 40%;
}

.user-info {
    display: flex;
    align-items: center;
}

.connect-wallet-container {
    display: flex;
    align-items: center;
}

.connect-wallet-container .logout-button {
    visibility: hidden;
}

.user-info .logout-button {
    visibility: visible;
}

.connect-wallet-button {
    display: flex;
    justify-content: end;
    font-size: 18px;
}

.account-info {
    font-size: 20px;
    font-weight: bold;
    color: lightslategrey;
}