body {
    background: linear-gradient(135deg, #14192e, #192445, #1c1e3a, #1e1d32);
    color: white;
}

.your-slider-container {
    width: auto;
    height: 600px;
}

.custom-next-icon {
    position: absolute;
    top: 40%;
    right: 10px;
    z-index: 1;
    font-size: 28px;
    color: #fff;
    background-color: #14192e;
    padding: 10px 22px;
    border-radius: 50%;
    cursor: pointer;
    border: 2px solid deepskyblue;
}

.card-container {
    display: flex;
    overflow-x: auto;
    padding-bottom: 20px;
}

.card {
    border: 1px solid #1e72f0;
    box-shadow: 8px 4px 20px rgba(51,106,252,.2), -8px 4px 20px rgba(39,208,254,.2);
    border-radius: 8px;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
    margin-right: 35px;
    height: 320px;
    width: 500px;
}

.card:last-child {
    margin-right: 0;
}

.card img {
    width: 100%; /* Set the width to fill the entire card */
    height: 200px; /* Set the desired height in pixels */
    object-fit: cover; /* Maintain the aspect ratio and cover the entire area */
}
.card-content {
    padding: 20px;
    backdrop-filter: blur(64.4px);
}

.card-content h3{
    color: #27d0fe;
}

h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

.section-spacing {
    margin-top: 30px; /* Adjust the margin as needed */
}

.card-sliders {
    border: 2px solid white;
}