@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans&display=swap');

/*body {*/
/*  margin: 0;*/
/*  font-family: 'IBM Plex Sans', sans-serif;*/

/*  !*font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*!*/
/*  !*  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*!*/
/*  !*  sans-serif;*!*/

/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*}*/

body {
  font-family: 'IBM Plex Sans', sans-serif;
  background-color: black;
  color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
